<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b167b1ba-cd3c-4bd9-bab7-5f7dbf227d83" Alias="DefaultContent - Image - File upload" Level="1">
  <Info>
    <Name>DefaultContent - Image - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>