<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2062d403-0733-4880-a2fe-f4869e21297c" Alias="ShowLink - Toggle" Level="1">
  <Info>
    <Name>ShowLink - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>