<?xml version="1.0" encoding="utf-8"?>
<DataType Key="220b611e-ca6d-48ba-a539-fb3280161ddc" Alias="SiteSettings - ForgotPasswordResetPage - Multinode Treepicker" Level="1">
  <Info>
    <Name>SiteSettings - ForgotPasswordResetPage - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>