<?xml version="1.0" encoding="utf-8"?>
<Content Key="ffcfb492-13bd-441f-b4c5-cfb40d583c0a" Alias="ForgotPswReset" Level="3">
  <Info>
    <Parent Key="6ece829a-c4a3-4f38-9229-be6f915d591f">Login</Parent>
    <Path>/Home/Login/ForgotPswReset</Path>
    <Trashed>false</Trashed>
    <ContentType>forgotPswReset</ContentType>
    <CreateDate>2022-11-18T11:48:48</CreateDate>
    <NodeName Default="ForgotPswReset" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0a674368-f274-49db-9d8f-453c0353dbaa">ForgotPswReset</Template>
  </Info>
  <Properties />
</Content>