<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d592198-d786-444d-8f3f-cbdbc92da3fd" Alias="ForgotPasswordReset" Level="3">
  <Info>
    <Parent Key="6ece829a-c4a3-4f38-9229-be6f915d591f">Login</Parent>
    <Path>/Home/Login/ForgotPasswordReset</Path>
    <Trashed>false</Trashed>
    <ContentType>forgotPasswordReset</ContentType>
    <CreateDate>2022-11-18T11:48:36</CreateDate>
    <NodeName Default="ForgotPasswordReset" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86f19474-c3d8-47b2-b91f-658757d94c01">ForgotPasswordReset</Template>
  </Info>
  <Properties />
</Content>