<?xml version="1.0" encoding="utf-8"?>
<Content Key="15b598f3-3e0b-4f46-a2f7-48e4939f6b42" Alias="ForgotPassword" Level="3">
  <Info>
    <Parent Key="6ece829a-c4a3-4f38-9229-be6f915d591f">Login</Parent>
    <Path>/Home/Login/ForgotPassword</Path>
    <Trashed>false</Trashed>
    <ContentType>forgotPassword</ContentType>
    <CreateDate>2022-11-18T11:48:04</CreateDate>
    <NodeName Default="ForgotPassword" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1afb8e73-7d1d-42e9-932a-438fc0b1ad6b">ForgotPassword</Template>
  </Info>
  <Properties />
</Content>