<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9b0e843-59dd-4760-97f8-da0651bf09dc" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-11-18T11:45:07</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ca39a409-46ed-4280-85e6-6810ef38ccf1">Home</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[Az Umbraco egy nyílt forráskódú tartalomkezelő rendszer platform tartalom közzétételére a világhálón és az intraneten. C # nyelven van megírva.]]></Value>
    </body>
    <image>
      <Value><![CDATA[/media/a0zdm0iw/umbraco_social_og.png]]></Value>
    </image>
    <title>
      <Value><![CDATA[Umbraco]]></Value>
    </title>
  </Properties>
</Content>