<?xml version="1.0" encoding="utf-8"?>
<Content Key="51849531-00af-47ce-8ccf-63314bda7345" Alias="Javascript" Level="2">
  <Info>
    <Parent Key="d9b0e843-59dd-4760-97f8-da0651bf09dc">Home</Parent>
    <Path>/Home/Javascript</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-11-18T11:45:59</CreateDate>
    <NodeName Default="Javascript" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="eac7fb4b-0748-4515-bc21-3c457f35172f">ContentPage</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[A JavaScript programozási nyelv egy objektumorientált, prototípus-alapú szkriptnyelv, amelyet weboldalakon elterjedten használnak.]]></Value>
    </body>
    <image>
      <Value><![CDATA[/media/othbfyle/javascript-logo.png]]></Value>
    </image>
    <title>
      <Value><![CDATA[Javascript]]></Value>
    </title>
  </Properties>
</Content>