<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ece829a-c4a3-4f38-9229-be6f915d591f" Alias="Login" Level="2">
  <Info>
    <Parent Key="d9b0e843-59dd-4760-97f8-da0651bf09dc">Home</Parent>
    <Path>/Home/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>login</ContentType>
    <CreateDate>2022-11-18T11:46:33</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="52e69c27-1831-4b5b-9d6b-56546acc9b01">Login</Template>
  </Info>
  <Properties />
</Content>