<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ddb52d7-f0f1-4f51-88f1-02529f561604" Alias="React" Level="2">
  <Info>
    <Parent Key="d9b0e843-59dd-4760-97f8-da0651bf09dc">Home</Parent>
    <Path>/Home/React</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-11-18T11:46:12</CreateDate>
    <NodeName Default="React" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="eac7fb4b-0748-4515-bc21-3c457f35172f">ContentPage</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[A React egy ingyenes és nyílt forráskódú elülső JavaScript-könyvtár a felhasználói felületek UI-komponenseken alapuló létrehozásához.]]></Value>
    </body>
    <image>
      <Value><![CDATA[/media/sief1lj0/react-logo-3x.svg]]></Value>
    </image>
    <title>
      <Value><![CDATA[React]]></Value>
    </title>
  </Properties>
</Content>