<?xml version="1.0" encoding="utf-8"?>
<Content Key="e27d009c-5202-42e1-84e0-a6cd707093ff" Alias="SecurityPage" Level="2">
  <Info>
    <Parent Key="d9b0e843-59dd-4760-97f8-da0651bf09dc">Home</Parent>
    <Path>/Home/SecurityPage</Path>
    <Trashed>false</Trashed>
    <ContentType>securityPage</ContentType>
    <CreateDate>2022-11-18T11:46:57</CreateDate>
    <NodeName Default="SecurityPage" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>