<?xml version="1.0" encoding="utf-8"?>
<Content Key="77a56290-f683-4b72-b253-3c583d898ca1" Alias="SecurityItemOfPage" Level="3">
  <Info>
    <Parent Key="e27d009c-5202-42e1-84e0-a6cd707093ff">SecurityPage</Parent>
    <Path>/Home/SecurityPage/SecurityItemOfPage</Path>
    <Trashed>false</Trashed>
    <ContentType>securityItemOfPage</ContentType>
    <CreateDate>2022-11-18T11:49:37</CreateDate>
    <NodeName Default="SecurityItemOfPage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="84f7737d-b634-41c8-a321-8fed57e0867a">SecurityContentPage</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>