<?xml version="1.0" encoding="utf-8"?>
<Content Key="611bf72d-8e12-4afa-9024-d08cf9e36ae0" Alias="SiteSettings" Level="2">
  <Info>
    <Parent Key="d9b0e843-59dd-4760-97f8-da0651bf09dc">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2022-11-18T11:47:06</CreateDate>
    <NodeName Default="SiteSettings" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <forgotPasswordPage>
      <Value><![CDATA[]]></Value>
    </forgotPasswordPage>
    <forgotPasswordResetPage>
      <Value><![CDATA[umb://document/ffcfb49213bd441fb4c5cfb40d583c0a]]></Value>
    </forgotPasswordResetPage>
    <hideInNavbar>
      <Value><![CDATA[1]]></Value>
    </hideInNavbar>
  </Properties>
</Content>