<?xml version="1.0" encoding="utf-8"?>
<Content Key="44091ce2-3801-4db5-8410-20cf1e340805" Alias="Two Factor Aut" Level="2">
  <Info>
    <Parent Key="d9b0e843-59dd-4760-97f8-da0651bf09dc">Home</Parent>
    <Path>/Home/TwoFactorAut</Path>
    <Trashed>false</Trashed>
    <ContentType>twoFa</ContentType>
    <CreateDate>2022-11-18T12:05:29</CreateDate>
    <NodeName Default="Two Factor Aut" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ec7e0cca-8192-41bc-b4a3-58ac644fec2f">TwoFactoryPage</Template>
  </Info>
  <Properties />
</Content>