<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3fc6f17-8684-4c5c-beda-e75f272028ee" Alias="TwoFactorValidatePage" Level="3">
  <Info>
    <Parent Key="6ece829a-c4a3-4f38-9229-be6f915d591f">Login</Parent>
    <Path>/Home/Login/TwoFactorValidatePage</Path>
    <Trashed>false</Trashed>
    <ContentType>twoFactorValidatePage</ContentType>
    <CreateDate>2022-11-21T12:17:01</CreateDate>
    <NodeName Default="TwoFactorValidatePage" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="af3a0d74-ce09-4aa1-8cfb-7c0f600cce24">TwoFactorValidatePage</Template>
  </Info>
  <Properties />
</Content>