@using AutAndAutV10.Controllers
@model AutAndAutV10.Models.ForgottenPasswordRequestModel


<div class="login-container">
    <div class="wrapper-container">
        @using (Html.BeginUmbracoForm<MemberController>("ForgottenPasswordRequest", FormMethod.Post))
        {
            <div class="login-label position">
                @Html.LabelFor(m => m.MemberEmail)
            </div>

            <div class="login-label position">
                @Html.TextBoxFor(m => m.MemberEmail, new { placeholder = "Email" })
            </div>

            <div class="position">
                <button name="login" type="submit">Forgot Password</button>
            </div>
            @Html.ValidationSummary()
        }
    </div>
</div>

