
@{
}

<div>
    <div>
        <title>Verify Profie</title>
    </div>

    <div>
        <form method="post">
            <div>
                <input type="text" name="passcore" placeholder="enter 6 digit code here..." /><br /><br />
                <input type="submit" value="enter" />
            </div>
        </form>
        
    </div>
</div>
