@{ 
    Layout = "~/Views/Master.cshtml";
}

<div class="">
    <div class="">
        @RenderSection("Featured")
    </div>
</div>

<div class="">
    <div class="">
        <div class="">
            <div class="">
                @RenderSection("Body")
            </div>

            <div class="">
                @RenderSection("RightRail")
            </div>
        </div>
    </div>
</div>