<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="70984574-dd93-4926-8f1e-7f54082f7e8e" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="3a5aa398-e85f-4ae0-9d80-6d176d1be362">defaultContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ca39a409-46ed-4280-85e6-6810ef38ccf1">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cfa5a9dd-fdaf-45f1-87c1-9d3c8dbf08c8" SortOrder="0">register</ContentType>
    <ContentType Key="54256ef4-35e2-4a21-aaee-49cd48630752" SortOrder="1">login</ContentType>
    <ContentType Key="4f8aa319-d652-4979-9a0b-78f2d9da090a" SortOrder="2">contentPage</ContentType>
    <ContentType Key="418f3bfd-cece-46ea-9ce2-bfc0ac58c136" SortOrder="3">siteSettings</ContentType>
    <ContentType Key="cd955a43-dfdc-4e0b-b932-3dd049a54bed" SortOrder="4">securityPage</ContentType>
    <ContentType Key="647cc04b-1634-44fb-a826-d46ce15368ab" SortOrder="5">twoFactoryPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>