<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="54256ef4-35e2-4a21-aaee-49cd48630752" Alias="login" Level="1">
  <Info>
    <Name>Login</Name>
    <Icon>icon-name-badge color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="52e69c27-1831-4b5b-9d6b-56546acc9b01">Login</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1f969a1f-6b4c-449a-9756-a03f643f61f3" SortOrder="0">forgotPswReset</ContentType>
    <ContentType Key="f1db4b60-eb27-4a53-83f3-24da8a5c9eaa" SortOrder="1">forgotPasswordReset</ContentType>
    <ContentType Key="aec6723f-7bf5-47b8-9630-90f5d5f668f2" SortOrder="2">forgotPassword</ContentType>
    <ContentType Key="c770002e-5d81-40e8-be48-dce109017a2a" SortOrder="3">twoFactorValidatePage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>