<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cf8c7740-9cb1-41a9-aaa1-584a1c848b4e" Alias="securityItemOfPage" Level="1">
  <Info>
    <Name>SecurityItemOfPage</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="3a5aa398-e85f-4ae0-9d80-6d176d1be362">defaultContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="84f7737d-b634-41c8-a321-8fed57e0867a">SecurityContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>