<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cd955a43-dfdc-4e0b-b932-3dd049a54bed" Alias="securityPage" Level="1">
  <Info>
    <Name>SecurityPage</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="3a5aa398-e85f-4ae0-9d80-6d176d1be362">defaultContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bcf2eead-d680-47a4-b91c-382e48dc522d">SecurityPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cf8c7740-9cb1-41a9-aaa1-584a1c848b4e" SortOrder="0">securityItemOfPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>