<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="418f3bfd-cece-46ea-9ce2-bfc0ac58c136" Alias="siteSettings" Level="2">
  <Info>
    <Name>SiteSettings</Name>
    <Icon>icon-settings color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings</Folder>
    <Compositions>
      <Composition Key="f6b3b470-0308-4f00-8bfe-f4bb53e2b49b">showLink</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b9814cd6-c8a8-4b76-b244-f10efc1af9e0</Key>
      <Name>ForgotPasswordPage</Name>
      <Alias>forgotPasswordPage</Alias>
      <Definition>f7accc56-2ced-4808-8acf-eb8af43c774d</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="data">Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e61d843c-2835-4f82-818e-85a351e0c9b0</Key>
      <Name>ForgotPasswordResetPage</Name>
      <Alias>forgotPasswordResetPage</Alias>
      <Definition>220b611e-ca6d-48ba-a539-fb3280161ddc</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="data">Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2fcdeec9-b683-4d69-af59-5f95ca1644d6</Key>
      <Caption>Data</Caption>
      <Alias>data</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>